@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league_gothic-webfont.eot');
    src: url('league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic-webfont.woff') format('woff'),
         url('league_gothic-webfont.ttf') format('truetype'),
         url('league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family:'LeagueGothicRegular';
  border-top:15px solid #000;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'LeagueGothicRegular';
  text-transform:uppercase;
  text-shadow:0 0 1px #373737;
}

h1 {
  font-size:56px;
  padding:20px;
  margin:20px 0 0;
}

  h1 span.float {
    float:right;
    font-size:18px;
  }

header h2 {
  font-size:24px;
  padding:20px;
  font-weight:300;
}

  header h2 a {
    float:right;
    display:inline-block;
    margin-left:20px;
  }

#events {
}

.event {
  float:left;
  width:33%;
  /*height:400px;*/
  padding:0;
  margin:0;
  border-right:1px solid #222;
  border-bottom:1px solid #222;
  position:relative;
  background:#373737;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

  .event:hover {
    background:#444;
  }

  .event-image {
    padding-bottom:10px;
    max-height:225px;
    overflow:hidden;
    position:relative;
  }

    .event-image img {
      display:block;
      width:100%;
    }

    .event a.play {
      display:block;
      width:43px;
      height:43px;
      position:absolute;
      bottom:15px;
      left:15px;
      text-indent:-9999px;
      background:url(../img/Play-Medium.png) no-repeat;
    }

      .event a.play:hover {
        background:url(../img/Play-Medium-Hover.png) no-repeat;
      }

      .event a.play:active {
        background:url(../img/Play-Medium-Pressed.png) no-repeat;
      }

    .event a.pause {
      display:block;
      width:43px;
      height:43px;
      position:absolute;
      bottom:15px;
      left:15px;
      text-indent:-9999px;
      background:url(../img/Pause-Medium.png) no-repeat;
    }

      .event a.pause:hover {
        background:url(../img/Pause-Medium-Hover.png) no-repeat;
      }

      .event a.pause:active {
        background:url(../img/Pause-Medium-Pressed.png) no-repeat;
      }

  .event-info {
    padding:20px;
    text-align:center;
  }

    .event-info h2 {
      font-size:28px;
      line-height:1.3;
      padding:0 0 5px;
      margin:0;
    }

    .event-info h3 {
      font-size:18px;
      padding:0 0 10px;
      margin:0;
    }

    .event-info h4 {
      font-size:14px;
      margin:0;
    }

  .artist-play a {
    display:inline-block;
    background:#fff;
    padding:6px 8px;
    border-radius:4px;
  }